<!-- <img class="biz" src="https://media.licdn.com/media/p/6/005/076/0f5/1c20538.png" alt="FedEx Logo">
<img class="biz" src="https://media.licdn.com/media/p/5/005/0a3/2dc/2349b1d.png" alt="Kodak Logo">
<img class="biz" src="https://media.licdn.com/media/AAEAAQAAAAAAAAQlAAAAJDc0NjNlZWVlLTQxYTgtNGY4Ny04NDc0LWE2NzVlNTQ5YjJhYQ.png" alt="Funcom Logo"> -->
<h5>Contact:<h5>
  <ul><%= @email %></ul>
  <ul><%= @phone %></ul>
  <ul><a href="https://www.linkedin.com/in/tyler-thompson">view on LinkedIn</a></ul>

  <span class="position" data-section="pastPositionsDetails">
    <header><h3><a href="https://www.linkedin.com/company/fedex-express?trk=ppro_cprof"><img alt="FedEx Express" src="/assets/fedex.png"></a> - Senior Technical Analyst</h3></header>
      <div class="meta"><span class="date-range"><time>September 2013</time> – <time>February 2016</time> (2 years 6 months)</span></div>
      <p class="description" data-section="pastPositions">Offering technical support for several FedEx departments.
        <br><br>This includes working with Active Directory, Blackberry Enterprise, Microsoft Exchange/IMAP, Java applications, Point of Sale PCs, Zebra/Epson/Ricoh/Lanier/HP printers, K2/KIAC flight arrival/departure, mobile locators for assets, Cloud applications, Citrix GoToAssist, VDI, Windows Remote Desktop, and eFax.
        <br><br>As a senior analyst I would create weekly outage reports and daily shift reports for FedEx and other leads. If a system/server went down I would contact the on-call teams to get the service back up and running so packages can keep moving. If the outage was going to be long term I would update the outage board so end users could know about the outage without contacting anyone.</p>
    </span>
    <br>
      <span class="position" data-section="pastPositionsDetails">
        <header><h3><a href="https://www.linkedin.com/company/eastman-kodak?trk=ppro_cprof"><img alt="Eastman Kodak" src="/assets/kodak.png"></a> - Technical Support Analyst</h3></header>
        <div class="meta"><span class="date-range"><time>June 2011</time> – <time>January 2013</time> (1 year 8 months)</span>
          <span class="location">Raleigh-Durham, North Carolina Area</span></div>
      <p class="description" data-section="pastPositions">Technical support for employees/customers operating retail kiosks.
        <br><br>This includes Epson printers, Epson scanners, and Epson receipt printers.</p>
      </span>
      <br>
        <span class="position" data-section="pastPositionsDetails">
          <header>
            <h3 class="item-subtitle"><a href="https://www.linkedin.com/company/aetna-global-benefits?trk=ppro_cprof"><img alt="Aetna Insurance" width="100px" src="/assets/aetna.png"></a> - Customer Support Rep.</h3></header>
            <div class="meta"><span class="date-range"><time>November 2008</time> – <time>May 2011</time> (2 years 7 months)</span></div>
            <p class="description" data-section="pastPositions">Coventry Prescription Part D
              <br>Aetna E-tech online support
              <br>Aetna Prescription Part D
              <br>Aetna Life Insurance</p>
        </span>
        <br>
      <span class="position" data-section="pastPositionsDetails"><header><h3><a href="https://www.linkedin.com/company/funcom?trk=ppro_cprof"><img src="/assets/funcom.png" alt="Funcom logo"></a> - German Customer Service Rep.</h3></header>
        <div class="meta"><span class="date-range"><time>July 2008</time> – <time>September 2008</time> (3 months)</span></div>
        <p class="description" data-section="pastPositions">Support for German/English customers for the MMO Age of Conan.</p></span></ul>
        <br>
        <p>What is this Age of Conan thing?</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sRoX8zBs3XE" frameborder="0" allowfullscreen></iframe>
